<div class="content">
  <h2>Credenciais Yampi</h2>

  <mat-form-field>
    <mat-label>Alias</mat-label>
    <input matInput name="yAlias" [(ngModel)]="yAlias" />
    <mat-error>Esse campo é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Token</mat-label>
    <input matInput name="yToken" [(ngModel)]="yToken" />
    <mat-error>Esse campo é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Key</mat-label>
    <input matInput name="yKey" [(ngModel)]="yKey" />
    <mat-error>Esse campo é obrigatório</mat-error>
  </mat-form-field>

  <div class="send">
    <button mat-raised-button color="primary" type="button">Salvar</button>
  </div>
</div>
