<main>
  <div class="title">
    <h1>Bem vindo ao Yampi Dashboard advanced!</h1>
    <h4>v0.2.6</h4>
  </div>

  <div class="content">
    <mat-card>
      <h2>Primeiros passos</h2>

      <ul>
        <li matRipple [matRippleColor]="'#23a45670'">
          <div class="ripple-content"></div>
          <span>Inserir as credenciais da loja</span>
        </li>
        <li matRipple [matRippleColor]="'#23a45670'" (click)="goTo('kit')">
          <span>Criar novos combos de produtos</span>
        </li>
        <li matRipple [matRippleColor]="'#23a45670'" (click)="goTo('upsell')">
          <span>Criar Upsells em massa</span>
        </li>
        <li matRipple [matRippleColor]="'#23a45670'" (click)="goTo('order-bump')">
          <span>Criar OrderBumps em massa</span>
        </li>
      </ul>
    </mat-card>
  </div>
</main>
